.body {
    padding-top: 1em;
    }

    .thumbnail{
        width:50px;
height:50px;
    }
    
    footer {
        background-color: gainsboro;
    }
.navbar {
    width: 100%;
    background-color: #292b2c;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 8px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 15%; /* Four links of equal widths */
    text-align: center;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .navbar a.active {
    background-color: #298edc;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }